button {
    background-color: #CDDC39;
    border: 5px solid #CDDC39;
    padding: 10px;
    height: 100px;
    width: 100px;

    &:hover {
        border: 5px solid #827717;
    }

    .button_text {
        margin-top: -10px;
        font-size: 20px;
    }
}