button {
    background-color: rgba(255, 255, 255, .5);
    border: 5px solid #FFF;
    padding: 10px;
    height: 100px;
    width: 100px;

    &:hover {
        border: 5px solid #000;
    }

    .button_text {
        margin-top: -10px;
        font-size: 20px;
    }
}