<section class="main" aria-label="weather-main">

    <div *ngIf="loading" class="loading">
        <div class="loading-ring">
            <div class="loading-ring_arc"></div>
            <div class="loading-ring_arc"></div>
            <div class="loading-ring_arc"></div>
            <div class="loading-ring_arc"></div>
        </div>
    </div>

    <div *ngIf="!loading">
        <weather-info
            *ngIf="city$ && currentWeather$"
            [city]="city$ | async"
            [data]="currentWeather$ | async"
        ></weather-info>
        <week-navigation
            *ngIf="forecast$"
            [forecast]="forecast$ | async"
        ></week-navigation>
        <sky
            *ngIf="currentWeather$"
            [data]="currentWeather$ | async"
        ></sky>
    </div>

</section>
