@import "./../../styles/mixins.scss";

:host ::ng-deep {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    @mixin sky-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .sky {
        div {
            @include sky-bg;
        }
        &-sun {
            background-color: #7db9e8;
            @include filter-gradient-vertical(#7db9e8, #1e5799);
        }
    
        &-clouds {
            background-color: #7db9e8;
            @include filter-gradient-vertical(#7db9e8, #1e5799);
        }

        &-mist {
            background-color: #4d8e89;
            @include filter-gradient-vertical(#4d8e89, #0f444f);
        }

        &-snow {
            background-color: #feffff;
            @include filter-gradient-vertical(#feffff, #a0d8ef);
        }

        &-rain {
            background-color: #1e5799;
            @include filter-gradient-vertical(#1e5799, #7db9e8);
        }

        &-drizzle {
            background-color: #cccccc;
            @include filter-gradient-vertical(#cccccc, #86b6c9);
        }

        &-storm {
            background-color: #12191c;
            @include filter-gradient-vertical(#12191c, #8495b2);
        }

        // DYNAMIC CLASSES
        &-fade-in {
            visibility: visible;
            animation: fade-in .5s ease-in forwards;
        }
    
        &-fade-out {
            visibility: visible;
            animation: fade-out .9s ease-out forwards;
        }
    
        &-hidden {
            visibility: hidden;
        }
    }    
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}