@import "./../../styles/mixins.scss";
@import "./animations/sky.anim.scss";
@import "./animations/sun.anim.scss";
@import "./animations/clouds.anim.scss";
@import "./animations/rain.anim.css";

:host ::ng-deep {
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;

    @mixin sky-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .sky {
        &-bg {
            &-sun {
                @include sky-bg;
                background-color: #7db9e8;
                @include filter-gradient-vertical(#7db9e8, #1e5799);
            }
        
            &-clouds {
                @include sky-bg;
                background-color: #7db9e8;
                @include filter-gradient-vertical(#7db9e8, #1e5799);
            }
    
            &-mist {
                @include sky-bg;
                background-color: #4d8e89;
                @include filter-gradient-vertical(#4d8e89, #0f444f);
            }
    
            &-snow {
                @include sky-bg;
                background-color: #feffff;
                @include filter-gradient-vertical(#feffff, #a0d8ef);
            }
    
            &-rain {
                @include sky-bg;
                background-color: #1e5799;
                @include filter-gradient-vertical(#1e5799, #7db9e8);
            }
    
            &-drizzle {
                @include sky-bg;
                background-color: #cccccc;
                @include filter-gradient-vertical(#cccccc, #86b6c9);
            }
    
            &-storm {
                @include sky-bg;
                background-color: #12191c;
                @include filter-gradient-vertical(#12191c, #8495b2);
            }
        }

        &-effect {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 2000;
        }
    }
}
